[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"../Common.cfg"
# testsuite specific configuration, not expected to change
"./eIM_Tests.default"

# Local configuration below

[LOGGING]

[TESTPORT_PARAMETERS]
system.HTTP_server_port.KEYFILE := "../ipad/example_ca/pki/private/alttest.key"
system.HTTP_server_port.CERTIFICATEFILE := "../ipad/example_ca/pki/issued/alttest.crt"

[MODULE_PARAMETERS]
eIM_Tests.mp_restop_path := "/work/eim/contrib/restop.py -s eim:8080"
eIM_Tests.mp_es9p_ip := "eim-tests"
eIM_Tests.mp_es9p_disable_ssl := true
eIM_Tests.mp_esipa_ip := "eim"
eIM_Tests.mp_esipa_disable_ssl := true

[MAIN_CONTROLLER]

[EXECUTE]
eIM_Tests.control
